@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Seymour+One&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #000000;
}

.vm-container {
  background-image: url(/Assets/Images/vm2.jpg);
  background-size: cover;
  padding: 500px;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
}

.vm-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #8ecae6 100%);
  pointer-events: none;
}

.vm-slogan {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #023047;
  font-size: 40px;
  margin: 10px 0;
  text-shadow: 1px 1px 2px rgba(187, 235, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  max-width: 100%;
  white-space: pre-line;
  background-color: rgba(98, 177, 222, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.vm-slogan::after {
  content: "Our Vending Machine,\A Your Money-Generating Machine";
  white-space: pre-line;
  display: block;
}

.intro {
  padding: 10%;
  background-color: #8ecae6;
  background: linear-gradient(to bottom, #8ecae6 0%, #5da3c1 50%, #219ebc 100%);
}

.container-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative;
}

.left-section {
  width: 15vw;
  flex-grow: 2;
  display: block;
  margin-left: 20px;
}

.intro-text-1 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  font-size: 1.7em;
  letter-spacing: 2px;
}

.intro-text-2 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #f8f8f8;
  letter-spacing: 2px;
  font-size: 2.3em;
}

.intro-text-3 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.3em;
  color: #000000;
  text-align: start;
  font-size: 19px;
}

.left-section span {
  color: #fefefe;
  text-decoration: underline;
}

.right-section {
  flex-grow: 1;
}

.right-section img {
  width: 55vh;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(16px 19px 0 rgba(12, 12, 12, 0.5));
}


/* Media Queries */

@media (max-width: 1200px) {
  .vm-container {
    padding: 200px;
  }

  .vm-slogan {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .vm-container {
    padding: 150px;
    padding-top: calc(150px + 50px); /* Adjusting padding-top to include space for the navbar */
  }

  .vm-slogan {
    font-size: 24px;
  }

  .intro {
    padding: 8%;
  }

  .left-section {
    width: 25vw;
  }

  .intro-text-1 {
    font-size: 1.5em;
  }

  .intro-text-2 {
    font-size: 2em;
  }

  .intro-text-3 {
    font-size: 17px;
  }

  .right-section img {
    width: 45vh;
  }
}

@media (max-width: 480px) {
  .vm-container {
    padding: 100px;
    padding-top: calc(150px + 50px); /* Adjusting padding-top to include space for the navbar */
  }

  .vm-slogan {
    font-size: 20px;
  }

  .intro {
    padding: 5%;
  }

  .container-intro {
    flex-direction: column;
    text-align: center;
  }

  .left-section {
    width: 80vw;
    margin-left: 0;
  }

  .intro-text-1 {
    font-size: 1.2em;
  }

  .intro-text-2 {
    font-size: 1.5em;
  }

  .intro-text-3 {
    font-size: 16px;
  }

  .right-section {
    margin-top: 20px;
  }

  .right-section img {
    width: 35vh;
  }
}

/* Additional Media Queries */

@media (max-width: 320px) {
  .vm-container {
    padding: 80px;
    padding-top: calc(100px + 50px); /* Adjusting padding-top to include space for the navbar */
  }

  .vm-slogan {
    font-size: 18px;
  }

  .intro {
    padding: 3%;
  }

  .intro-text-1 {
    font-size: 1em;
  }

  .intro-text-2 {
    font-size: 1.2em;
  }

  .intro-text-3 {
    font-size: 14px;
  }

  .right-section img {
    width: 30vh;
  }
}
